.setting-card {
  color: #ccc;
}

.setting-divider {
  border: none;
  height: 1px;
  background: #333;
  margin: 32px 0;
}

.settings-button-right {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  justify-content: flex-end;
}

.settings-button-right .btn {
  padding: 4px 12px;
  font-size: 12px;
  flex: none;
}
